* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  background-color: rgba(30, 175, 240, 0.2);
  border: 1px solid black;
}

body {
  font-family: sans-serif;
}

/* INIZIO HEADER */
/* header{
  position: fixed;
} */

header .header-container {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: #FE6901;
  z-index: 1;
}

header .header-container .menù {
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}
header .header-container .menù .genere ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding-top: 25px;
}
header .header-container .menù .genere ul li a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header .header-container .menù .logo img {
  width: auto;
  height: 30px;
  margin: 20px;
}

header .header-container .menù .icons ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding-top: 25px;
}
header .header-container .menù .icons i{
  color: white;
}

/* FINE HEADER */

/* INIZIO MAIN */
main .main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 130px;
}

main .main-container .card {
  position: relative;
  width: 330px;
  padding-bottom: 30px;
  cursor: pointer;
}

main .main-container .card img{
  width: 320px;
  margin: 2px;
}

main .main-container .card .img-hover {
  position: absolute;
  display: none;
  top: 0;
}

main .main-container .card:hover .img-hover {
  display: block;
}

main .main-container .card .heart {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: white;
  padding: 15px;
}
main .main-container .card .heart:hover {
  color: red;
}

main .main-container .card .discount {
  position: absolute;
  left: 0;
  bottom: 130px;
  background-color: red;
  color: white;
  padding: 5px 10px;
}

main .main-container .card .sostenibilità {
  position: absolute;
  left: 60px;
  bottom: 130px;
  background-color: green;
  color: white;
  padding: 5px 10px;
}

main .main-container .card .sostenibilità.last {
  left: 0px;
}
main .main-container .card .description p:first-child {
  font-size: 0.8rem;
}

main .main-container .card .description p:nth-child(2) {
 font-weight: 700;
}

main .main-container .card .description .no-disc {
  color: red;
  font-weight: 600;
}

main .main-container .card .description p span:first-child {
  color: red;
  font-weight: 600;
  margin-right: 10px;
}

main .main-container .card .description p span:last-child {
  text-decoration: line-through;
}
/* FINE MAIN */



/* INIZIO FOOTER */
footer {
  background-color: black;
  color: white;
  max-width: 100%;
  padding-top: 50px;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1000px;
}

footer .footer-container .info #mark {
  font-weight: 700;
  padding: 10px;
}

footer .footer-container .info .legal ul li {
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  padding: 10px;
}

footer .footer-container .info .legal ul li a {
  text-decoration: none;
  color: white;
}

footer .footer-container .info .social {
  display: inline-block;
}
footer .footer-container .info .social {
  font-weight: 500;
  padding: 10px;
}

footer .footer-container .social .social-icons ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}

footer .footer-container .social .social-icons ul li a i {
  color: white;
}


/* FINE FOOTER */